{% extends 'simple.page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/components/wdiv-about.css') }}">
{% endblock %}

{% set page_title = 'Über Uns' %}

{% block pagebody %}
<div class="tm--alpha">
    <img class="wdiv-img-max-100" src="/img/about/wikimedia-conference-2018-group.jpg">
    <p>
        <span class="wdiv-color-green">Gemeinsam wissen wir mehr</span> – dieser Grundgedanke hinter der freien Online-Enzyklopädie Wikipedia und ihren Schwesterprojekten zeigt sich uns jeden Tag auf eindrucksvolle Weise: Tausende Freiwillige und ehrenamtliche Communitys schreiben und verbessern Artikel, fotografieren, pflegen Daten, entwickeln Software und stellen ihr Wissen allen Menschen zur freien Verfügung.
    </p>
    <p>
        Als Gesellschaft zur Förderung Freien Wissens arbeitet Wikimedia Deutschland daran, dass Projekte wie die Wikipedia auch in Zukunft existieren können und dass Freies Wissen in unserer Gesellschaft zur Selbstverständlichkeit wird. Wir unterstützen die unschätzbar wertvolle Arbeit der Ehrenamtlichen in den Wikimedia-Projekten und wirken darauf hin, dass sich noch mehr Menschen beteiligen.
    </p>
    <div class="ts--alpha wdiv-about-teaser-annual">
        <img class="wdiv-img-max-100" src="/img/about/visual-annual.jpg">
        <p>Mehr Informationen in unserem aktuellen Jahresbericht.</p>
        <p><a class="" href="https://2017.wikimedia.de/">Zur Website</a></p>
    </div>
    <p>
        Wir entwickeln und verbessern Software, damit die Freiwilligen ihr Wissen noch besser in den Wikimedia-Projekten teilen können. Wir arbeiten mit Institutionen aus Kultur, Bildung und Wissenschaft zusammen und bringen politischen und gesellschaftlichen Entscheidungsträgern die Idee des Freien Wissens näher.
    </p>
    <p>
        All das tun wir nicht allein, sondern gemeinsam mit den ehrenamtlichen Wikimedia-Communitys, mit unseren Partnerorganisationen innerhalb und außerhalb der internationalen Wikimedia-Bewegung und mit der Unterstützung durch rund 65.000 Mitglieder und zahlreiche Spenderinnen
        und Spender.
    </p>
    <p>
        <iframe style="width: 100%" width="560" height="315" src="https://www.youtube.com/embed/dlC4-SQKXJM?controls=1" frameborder="0" allow="accelerometer; encrypted-media;" allowfullscreen></iframe>
    </p>
</div>
{% endblock %}
