{% extends 'base.html.twig' %}

{% block body %}
    <div style="font-family: sans-serif; line-height: 1.4em;">
        <link href="/css/components/wdiv-team.css" rel="stylesheet" type="text/css">
        <h1>Mitarbeiter bei Wikipedia</h1>
        <a href="#">Zu Präsidium und Mitgliedern</a>
        {% include 'sections/team.html.twig' %}
        <script src="/js/vendor/list.min.js"></script>
        <script src="/js/components/wdiv-team.js"></script>
    </div>
{% endblock %}
