{# TODO: replace by regular base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% include 'sections/team.html.twig' %}
    </body>
</html>
