{# TODO: replace by regular base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="font-family: sans-serif; line-height: 1.4em;">
        <link href="/css/components/wdiv-topics.css" rel="stylesheet" type="text/css">
        <h1>Unsere Themen</h1>
        {% include 'sections/topics.html.twig' %}
        <script src="/js/vendor/list.min.js"></script>
        <script src="/js/components/wdiv-topics.js"></script>
    </body>
</html>
