/*!
 * Copyright 2013 David Persson. All rights reserved.
 * Copyright 2016 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

@import "normalize.css";
@import "reset.css";
@import "globals/variables.css";
@import "globals/font.css";
@import "globals/typography.css";
@import "globals/basics.css";
@import "globals/hyperlinks.css";
@import "globals/util.css";
@import "globals/layout.css";

@import "globals/header.css";
@import "globals/footer.css";
@import "globals/sections.css";
@import "globals/corners.css";
@import "globals/references.css";

@import "components/illuHero.css";
@import "components/logo.css";
@import "components/mission.css";
@import "components/news.css";
@import "components/team.css";
@import "components/ctaButton.css";
@import "components/fields.css";
@import "components/figure.css";


/* Phase IV redesign */
@import "components/wdiv-shared.css";
