.wdiv-topics-wrapper {
    /* WIP! remove */
    font-family: sans-serif;
    line-height: 1.4em;
}

/* Topics */

.wdiv-topic-header:not(.js-filtered) {
    /* hide unfiltered topics */
    display: none;
}
