/* general */

/* new sidebar layout */

@media (min-width: 720px) {
    .wdiv-sidebar-alignment {
        margin-left: calc( 250 / 1140 * 100% );
        position: relative;
    }

    .wdiv-sidebar-alignment::before {
        content: '';
        position: absolute;

        right: 100%;
        width: calc( 250 / ( 1140 - 250 ) * 100% );
        max-width: 250px;
        height: 100%;

        background-color: #339966;
    }
}

@media (min-width: 1140px) {
    .wdiv-sidebar-alignment {
        margin-left: 250px;
    }
}

.wdiv-max-width-1190 {
    max-width: 1190px; /* subtracts sidebar width from main container */
}

/* header */

.wdiv-header-meta {
    /* imitate existing height */
    height: 72px;
}
