/* general */

/* new sidebar layout */

@media (min-width: 720px) {
    .wdiv-sidebar-alignment {
        padding-left: calc( 250 / 1140 * 100% );
        position: relative;
    }

    .wdiv-sidebar-alignment::before {
        content: '';
        position: absolute;

        left: 0;
        width: calc( 250 / 1140 * 100% );
        max-width: 250px;
        height: 100%;

        background-color: #339966;
    }
}

@media (min-width: 1140px) {
    .wdiv-sidebar-alignment {
        padding-left: 250px;
    }
}

.wdiv-max-width-1190 {
    max-width: 1190px; /* subtracts sidebar width from main container */
}
