/* shared/layout */

.wdiv-max-width-1190 {
    max-width: 1190px; /* subtracts sidebar width from main container */
}

.wdiv-clearfix::after {
/*
    via (defunct)
    http://cssmojo.com/the-very-latest-clearfix-reloaded/
*/
    content: "";
    display: block;
    clear: both;
}

.wdiv-hide-accessibly {
  /*
    see articles like:
    https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
    https://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/#comment-1206657
  */
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

.wdiv-img-max-100 {
  max-width: 100%;
}

.wdiv-color-white {
  color: white;
}

.wdiv-color-green {
  color: #339966;
}

/* shared/new sidebar */

/* mobile layout */

@media (max-width: 969px) {
  .wdiv-header-nav {
    display: none;
  }
}

/* Media query includes old breakpoint: max720 for mobile and adds 250px navbar width */
@media (min-width: 970px) {
    .wdiv-sidebar-alignment {
        margin-left: calc( 250 / 1140 * 100% );
        position: relative;
    }

    .wdiv-sidebar-alignment::before {
        content: '';
        position: absolute;

        right: 100%;
        width: calc( 250 / ( 1140 - 250 ) * 100% );
        max-width: 250px;
        height: 100%;

        background-color: #339966;
    }

    .wdiv-header-nav {
      position: fixed;

      width: calc( 250 / 1140 * 100% );
      top: 0;
      left: 0;

      box-sizing: border-box;

      padding: 1em 26px 1em;
    }

    .wdiv-header-nav-logo {
      margin: 22px 0 72px; /* TODO: responsive */
    }
}

@media (min-width: 1140px) {
    .wdiv-header-nav {
      width: 250px;
    }

    .wdiv-sidebar-alignment {
        margin-left: 250px;
    }
}

/* shared/new header */

.wdiv-header-meta-container {
    /* imitate existing height */
    height: 72px;
}


/* shared/skinning */

/* shared/new Google font */

/* we're using the approach of `/css/globals/font` here and paste the Google CSS */

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
