.wdiv-about-teaser-annual {
    padding: 20px;

    background-color: #F29400;
    color: white;
}

.wdiv-about-teaser-annual img {
    display: block;

    width: 86px;

    /* center */
    position: relative;
    margin: 0 auto;
}

@media (min-width: 560px) {
    .wdiv-about-teaser-annual {
        width: 200px;
        float: left;
        margin-right: 28px;
        margin-bottom: 0.6em;
    }
}

@media (min-width: 1152px) {
    .wdiv-about-teaser-annual {
        margin-left: -100px;
    }
}
