/* Topics */

/* heading */

.wdiv-topics-heading {
    background-color: rgb(233, 238, 240);
    background-image: url('/img/wdiv/bg-hexes.jpg');
    background-position: right center;
    background-size: auto 100%;

    padding-top: 72px;
}

.wdiv-topics-heading-container {
    padding-top: calc( 530 / 1050 * 100% );
    margin: 0 auto;

    height: 0;

    position: relative;
}

@media (min-width: 1315px) {
    .wdiv-topics-heading-container {
        /* stop growing when 1050px element + 100px padding + 250px sidebar + 15px scrollbar  have been reached */
        width: 1050px;
        padding-top: 530px;
    }
}

.wdiv-topics-heading-title {
    position: absolute;
    top: 0;
    left: 0;
}

.wdiv-topics-heading .wdiv-heading-box {
    position: absolute;
    top: 18%;
    left: 22%; /* elbow grease: move box content to the left */

    display: block;
    width: calc( 200 / 1050 * 100% ); /* 200px tp 1050px */
    height: 0;
    padding-top: calc( 232 / 1050 * 100% ); /* 223px to 200px tp 1050px */

    transition: transform 0.3s;

    background-image: url('/img/wdiv/cube-default.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* state no filter */

.wdiv-heading-box-1 {
    transform: translate(150%,0); /* X: 0,5 / Y: 0 */
    z-index: 4;
}

.wdiv-heading-box-2 {
    transform: translate(0,74.5%); /* X: 0 / Y: 3 */
    z-index: 3;
}

.wdiv-heading-box-3 {
    transform: translate(100%,74.5%); /* X: 1 / Y: 3 */
    z-index: 2;
}

.wdiv-heading-box-4 {
    transform: translate(200%,24.5%); /* X: 2 / Y: 1 */
    z-index: 1;
}
/* state filter 1 */

[data-filtered-by="1"] .wdiv-heading-box-3 {
    transform: translate(50%,49.5%); /* X: 0,5 / Y: 2 */
}

[data-filtered-by="1"] .wdiv-heading-box-4 {
    transform: translate(150%,49.5%); /* X: 1,5 / Y: 2 */
}


/* state filter 2 */

[data-filtered-by="2"] .wdiv-heading-box-1 {
    transform: translate(50%,0); /* X: 0,5 / Y: 0 */
}

[data-filtered-by="2"] .wdiv-heading-box-4 {
    transform: translate(150%,49.5%); /* X: 1,5 / Y: 2 */
}

/* state filter 3 */

[data-filtered-by="3"] .wdiv-heading-box-2 {
    transform: translate(100%,74.5%); /* X: 1 / Y: 3 */
}

[data-filtered-by="3"] .wdiv-heading-box-3 {
    transform: translate(100%,24.5%); /* X: 1 / Y: 1 */
}

[data-filtered-by="3"] .wdiv-heading-box-4 {
    transform: translate(150%,49.5%); /* X: 1,5 / Y: 2 */

}

/* state filter 4 */

[data-filtered-by="4"] .wdiv-heading-box-2 {
    transform: translate(0,24.5%); /* X: 0 / Y: 1 */
}

[data-filtered-by="4"] .wdiv-heading-box-3 {
    transform: translate(0,74.5%); /* X: 0 / Y: 3 */
}

[data-filtered-by="4"] .wdiv-heading-box-4 {
    transform: translate(150%,49.5%); /* X: 1,5 / Y: 2 */
}

.wdiv-topic-desc {
    background-color: white;

    /* TODO: this should be set on multiple wrappers */
    padding: 1em 152px 2em 60px;

    font-weight: 400;

    /* check grid ? */
    max-width: 780px;
}

.wdiv-topic-title {
    text-transform: uppercase;
    color: #339966;
}

/* Filter */

/* TODO: unify markup for both filters */

.wdiv-topics-filter {
    margin: 0 -5px; /* account for gutter */
}

.wdiv-topics-filter-col {
    width: calc( 100% / 4 - 10px );
    float: left;

    margin: 0 5px; /* gutter */
}

/* general filter design */

.wdiv-topics-filter-option,
.wdiv-topics-filter-reset {
    display: block;

    position: relative;

    font-size: 16px;
    line-height: 1.375em; /* 22 to 16px */
    padding: 9px 0 9px 32px;

    color: #339966;
    font-weight: 500; /* medium */
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;
}

.wdiv-topics-filter-option {
    /* skinning */

    border-bottom: 1px solid #339966;
}


/* reset button */

.wdiv-topics-filter-reset {
    /* reset button has wrong widht */
    width: 100%;

    /* hmm? */
    text-align: left;

    /* reset standard button borders … rather clunky */
    border: none;
    background: transparent;
    outline: none;
}

/* indicator */

.wdiv-topics-filter input[type="radio"] {
    /* hide actual element */
    visibility: hidden;
}

.wdiv-topics-filter-indicator {
    display: block;
    position: absolute;

    left: 0;
    top: 50%;
    margin-top: calc( -18px / 2 );

    /* include border width in size */
    box-sizing: border-box;
    width: 18px;
    height: 18px;


    border: 1px #339966 solid;
    border-radius: 50%;
}

/* yeah, I know … dat selector */
input[type="radio"] + .wdiv-topics-filter-option .wdiv-topics-filter-indicator::before {
    content: "";

    position: absolute;
    width: 8px;
    height: 8px;

    /* center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    /* skin */

    background: #339966;
    border-radius: 50%;

    /* activation */
    transition: transform 0.2s;
}

input[type="radio"]:checked + .wdiv-topics-filter-option .wdiv-topics-filter-indicator::before {
    transform: translate(-50%, -50%) scale(1);
}

/* Topic information */

.wdiv-topics-wrapper:not(.js-filtered) .wdiv-topic-header {
    /* hide unfiltered topics */
    display: none;
}

/* Topic Cards */

.wdiv-projects {
    clear: both;
    margin: 1em -30px 4em; /* negative gutter */
    position: relative;

    display: grid;
    grid-template-columns: repeat(6, 1fr); /* we need 6 cols */
}

.wdiv-project {
    margin: 30px; /* adds up to 60px gutter */
    grid-column: span 2; /* use 2 cols */
}

.wdiv-project-wide {
    grid-column: span 3; /* use 3 cols */
}

.wdiv-project-content {
    padding: 15px;

    /* skinning */
    background-color: white;
}

.wdiv-project-img {
    width: 100%;
    display: block;
}

/* Textual content */

.wdiv-project-topic {
    display: inline-block;
    padding: 0 7px;

    background-color: #339966;
    color: white;

    text-transform: uppercase;
}

.wdiv-project-title {
    margin-top: 0.6em;
}

/* this equals Medium Epsilon Sans Serif */
.wdiv-project-body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4em;
}

@media (min-width: 500px) {
    .wdiv-project-body {
        font-size: 14px;
    }
}

@media (min-width: 1000px) {
    .wdiv-project-body {
        font-size: 16px;
    }
}

.wdiv-project-links a {
    padding: 0.2em 0;
    border-bottom: 1px #131313 solid;
}
