{% extends 'simple.page.html.twig' %}

{% set page_title = 'Imprint and Contact' %}

{% block pagebody %}
    <p>
        This imprint applies to the domains wikimedia.de and wikipedia.de. Please note that Wikimedia
        Deutschland is not the service provider of all Wikimedia projects mentioned on this website.
        <br>
    </p>

    <h3 class="rt__h--gamma">Service Provider</h3>

    <p>Wikimedia Deutschland - &nbsp;Association for the promotion of Free Knowledge e. V.
        <br>Tempelhofer Ufer 23/24<br>10963 Berlin
    </p>
    <p>E-Mail: <a href="mailto:info@wikimedia.de">info@wikimedia.de</a>
        <br>Telephone: +49 (0) 30-219 15 826-0<br>Fax: +49 (0) 30-219 158 26-9<br><br>Executive Board: Abraham Taherivand
        <br>Registered in the register of associations of the district court Charlottenburg, VR 23855.
        Responsible for the content according to § 55 Abs. 2 RStV: Abraham Taherivand (address as above).
        <br>
    </p>
    
    
  
  
    <h2 class="rt__h--gamma rt__h--beta">
        1. Data protection at a glance
    </h2>
    <h3 class="rt__h--gamma rt__h--beta">
       General information
    </h3>
    
    <p>The following notes provide a basic overview of what happens to your personal data when you visit our website. 
    Personal data are any data that can identify you personally. 
    Detailed information on the subject of data protection can be found in our data-protection declaration specified under this text.<br>
    </p>
     
    <h3 class="rt__h--gamma rt__h--beta">
        Data collection on our website    
    </h3>
     <h3 class="rt__h--gamma rt__h--beta">
        Who is responsible for the data collection on this website?   
    </h3>

    <p>
        <li>The data processing on this website is carried out by the site operator, 
        whose contact details can be found in the imprint of this website.<br>
    </p>
    
      <h3 class="rt__h--gamma rt__h--beta">
       How do we collect your data?
    </h3>

          <p>
        <li>Your data is collected, on the one hand, by means of the data you provide to us. 
       This may be data that you enter in a contact form, for instance.<br>
       Other data is automatically collected by our IT systems when you visit our website.  
       These are mainly technical data (e.g. Internet browser, operating system or the time you visited the page). 
       The collection of this data is done automatically when you enter our website.<br>
    </p>

 <h3 class="rt__h--gamma rt__h--beta">
     What do we use your data for?
    </h3>      

        <p>
        <li>Some of the data is collected to ensure that the website is provided to you error-free. 
        Other data can be used to analyze your user behavior.<br>
    </p>
    
     <h3 class="rt__h--gamma rt__h--beta">
         What rights do you have regarding your data?
    </h3>      

        <p>
        <li>You have the right at any time and free of charge to receive information about the origin, 
        recipient and purpose of your stored personal data. You also have the right to request the correction, 
        blocking or deletion of this data. If you have any further questions on the subject of data protection, 
        you can contact us at any time at the address indicated in the imprint. 
        You also have the right of appeal to the competent supervisory authority.<br>
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta">
      Third-party analysis and tools
    </h3> 
    
       <p>
        <li>When you visit our website, your surfing behaviour can be statistically evaluated. 
        This is done primarily with cookies and so-called analysis programs. 
        The analysis of your surfing behaviour is usually anonymous; the surfing behaviour cannot be traced back to you. 
        You may opt out of this analysis or prevent it by not using certain tools. 
        You can find detailed information on this in the following data-protection declaration. 
        We inform you about the possibilities for opting out in this data-protection declaration.<br>
    </p>

 <h2 class="rt__h--gamma rt__h--beta">
      2. General Information and Mandatory Information
    </h2> 
    
     <h3 class="rt__h--gamma rt__h--beta">
      Data protection
    </h3>
    
    <p>
        <li>The operators of these pages take the protection of your personal data very seriously. 
        We treat your personal data confidentially and in accordance with the legal data-protection regulations 
        as well as the data-protection declaration. When using this site, various personal data are collected. 
        Personal data are any data that can identify you personally. 
        This data-protection declaration explains what data we collect and what we use it for. 
        It also explains how and for what purpose this takes place. Please note that data transmission over the Internet 
        (e.g. communication by e-mail) can have security gaps. Complete data protection against third-party access is not possible. <br>

    </p>
    
         <h3 class="rt__h--gamma rt__h--beta">
      Information on the person responsible
    </h3>
    
    <p>
        <li> The person responsible for data processing on this website is:<br>
        Wikimedia Deutschland - Association for the promotion of Free Knowledge e. V.<br>
        Tempelhofer Ufer 23-24<br>
        10963 Berlin<br>
        Phone: +49 (0) 30-21915826-0<br>
        E-mail: spenden@wikimedia.de<br>
        
    </p>

    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Revocation of the consent for data processing
    </h3>

    <p>
      Many data-processing operations are only possible with your express consent. 
      You can revoke your previously given consent at any time. 
      To do this, simply send us an informal message by e-mail. 
      The legality of the data processing up to the time of the revocation remains unaffected by the revocation.<br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Right to issue an appeal to the competent supervisory authority
    </h3>

    <p> 
        In the event of any violation of data-protection law, the person concerned has a right to issue an appeal to the competent supervisory authority. 
        The responsible supervisory authority for data-protection matters is the data-protection officer of the federal state in which our company is located. 
        A list of data-protection officers and their contact details can be found here: 
        <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>
        <br>    
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Right to data portability
    </h3>

    <p> 
       You have the right to have the data we process automatically on the basis of your consent or in fulfilment 
       of a contract issued to you or to a third party in a standard, machine-readable format. 
       If you request the direct transfer of the data to another responsible party, this will only be done if it is technically feasible.<br>

    </p>
    
           <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        SSL or TLS encryption
    </h3>

    <p> 
       This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential content, 
       such as orders or requests that you send to us as the site operator. You can recognize an encrypted connection by the fact 
       that the address line of the browser changes from "http://" to "https://" and by the lock symbol in your browser line.
<br>
       
        If the SSL or TLS encryption is enabled, the data that you provide to us cannot be read by third parties.<br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Encrypted payment transactions on this website
    </h3>

    <p> 
        If you are required to provide us with your payment details (e.g. account number for direct debit authorization) 
        after the conclusion of a fee-based contract, this data will be needed for payment processing.  
        Payment transactions via the common means of payment (Visa/MasterCard, direct debit) are made exclusively via an encrypted SSL 
        or TLS connection. You can recognize an encrypted connection by the fact that the address line of the browser 
        changes from "http://" to "https://" and by the lock symbol in your browser line. 
        <br>
       
        With encrypted communication, the payment information that you provide to us cannot be read by third parties.<br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Information, restriction of processing, cancellation
    </h3>

    <p> 
         You have the right, free of charge, to information about your stored personal data, their origin and recipients, 
         the purpose of data processing and, if necessary, a right to correction, restriction of the processing or deletion of these 
         data at any time within the scope of the applicable legal provisions. You can contact us at any time at the address 
         given in the imprint if you have any further questions on the subject of your personal data. 
        <br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Automated decision-making
    </h3>

    <p> 
         We do not make use of automated decision-making, including profiling, pursuant to Article 22 paragraph 1 and 4 GDPR. 
        <br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Obligation to provide data
    </h3>

    <p> 
       Under no circumstances are you legally or contractually obliged to provide us with personal data. 
       However, without their provision as part of the services listed below, we cannot provide you with the features described there.   <br>
       
    </p>
    
    <h2 class="rt__h--gamma rt__h--beta">
      3. Data Protection Officer
    </h2>
    
     <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Statutory data-protection officer
    </h3>

    <p> 
     We have appointed a data-protection officer for our company.<br>
     Thorsten Feldmann, LL.M. <br>
     JBB Rechtsanwälte Jaschinski Biere Brexl Partnerschaft mbB <br>
     Christinenstr. 18/19 <br>
     10119 Berlin <br>
     Phone: +49 30 443 765 0 <br>
     E-mail: <a href="mailto:datenschutz@wikimedia.de">datenschutz@wikimedia.de</a> <br>
       
    </p>
    
     <h2 class="rt__h--gamma rt__h--beta">
      4. Data collection on our website
    </h2>
    
     <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Cookies
    </h3>

    <p> 
   Some of the Internet pages use “cookies”. Cookies do not cause any damage to your computer and do not contain any viruses. 
   They serve to make our website more user-friendly, effective and secure. 
   Cookies are small text files that are stored on your computer and saved by your browser.<br>
    
   Most of the cookies we use are “session cookies”. They are automatically deleted at the end of your visit. 
   Other cookies remain stored on your computer until you delete them. 
   These cookies allow us to recognize your browser the next time you visit.<br>
    
    You can adjust your browser settings so that you are informed about cookie settings and only allow cookies in individual cases. 
    You can also decline cookies in certain cases or generally and activate the automatic deletion of cookies when closing the browser.  
    When cookies are deactivated, the functionality of this site may be restricted.<br>
    
    Cookies, which are required to carry out electronic communications or certain desired functions (e.g. shopping basket function), 
    are stored pursuant to Art.  6 para. 1 lit. f GDPR. The website operator has a legitimate interest in the storage of cookies 
    for the technical, error-free and optimized delivery of the related services. 
    Insofar as other cookies are stored (e.g. cookies for the analysis of your surfing behavior), 
    they are treated separately in this data-protection declaration.<br>
   
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Server log files
    </h3>

    <p> 
    The provider of the pages automatically collects 
    and stores information in server log files, which your browser automatically sends to us. These are:<br>
    <ul>
        <li>Browser type and browser version</li>
        <li>Operating system</li>
        <li>Referrer URL</li>
        <li>Host name of the accessing computer</li>
        <li>Time of the server request</li>
        <li>IP address</li>
    </ul>
    This data is not compiled together with other data sources.<br>
    
    The basis for data processing is found in Art.  6 para. 1 lit. f GDPR, which permits the processing of data for the fulfilment 
    of a contract or pre-contractual measures. The data is only stored for a period of 24 hours. 
    All log files created by our systems are then automatically deleted.<br>
   
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Registration on this website
    </h3>

    <p> 
    You can register on our website to utilize our additional features. 
    We only use the data entered for the purpose of the application of the respective offer or service for which you have registered. 
    The mandatory information requested during registration must be provided in full. Otherwise, we will cancel the registration.<br>
  
    In the event of important changes, such as the scope of the offer or
    technically necessary changes, we will use the e-mail address provided
    during registration to inform you in this way. The legal basis for this is
    Art. 6 para. 1 lit. b DSGVO.

    The legality of the data processing already carried out remains unaffected by the revocation.<br>
    
    We store the data collected during the registration for as long as you are registered on our website and then subsequently deleted. 
    Legal retention periods remain unaffected.<br>
   
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Comment function on this website
    </h3>

    <p> 
    For the comment function on this page, along with your comment, information about the time the comment was made, 
    your e-mail address and, if you do not post anonymously, your chosen user name will be stored. 
    <br>
   
    </p>
    
    <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Saving the IP address
    </h4>

    <p> 
    Our comment function stores the IP addresses of users who write comments. 
    As we do not moderate comments on our site before they are published, this data is required so that 
    we can take legal action against the author in the event of legal infringements such as offensive comments or the spread of propaganda. 
    <br>
   
    </p>
    
    <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Subscribe to comments
    </h4>

    <p> 
    As a user of the site, you can subscribe to comments after registering. 
    You will receive a confirmation email to ensure that you are the owner of the given email address. 
    You can cancel this function at any time via the link provided in the info emails. 
    In this case, the data entered when subscribing to comments will be deleted; 
    if this data have been sent to us for other purposes (e.g. newsletter subscription), they will remain in our system. 
    <br>
   
    </p>
    
    <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Storage period of comments
    </h4>

    <p> 
   The comments and the associated data (e.g. IP addresses) are stored and remain on our website 
   until the commented content has been completely deleted or the comments need to be deleted for legal reasons (e.g. offensive comments). 
    <br>
   
    </p>
    
     <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Legal basis
    </h4>

    <p> 
   Comments are stored on the basis of a legitimate interest (Art. 6  para. 1 lit. a GDPR). 
   You can revoke your consent at any time. For this purpose, you can simply send us an informal message by e-mail. 
   The legality of the data processing already carried out remains unaffected by the revocation.<br>
   
    </p>


     <h2 class="rt__h--gamma rt__h--beta">
        5. Registration for the event
    </h2>

    <p>In certain cases we allow online registration for events organised by us. Only
    mandatory information is required for a successful registration. All other
    information is voluntary.</p>
     
    <p>Mandatory fields for registration are:</p>
    <ul>
    <li>email address</li>
    <li>Name and first name</li>
    <li>Role in the event (participant*in, speaker*in, helper*in, representative*in a Wikimedia chapter)</li>
    <li>Food: vegetarians, vegans, allergies</li>
    <li>If a grant has been or is requested for the trip</li>
    <li>Has a grant been or will be applied for accommodation?</li>
    <li>Information on the name tag</li>
    <li>Adult</li>
    </ul>

    <p>Voluntary information is:</p>
    <ul>
    <li>Name of the desired room partner, if applicable</li>
    <li>Chapter through which the funding will take place</li>
    <li>Username (if already active on a Wikimedia project)</li>
    <li>First name + last name --> only if no user name is available<br>
    OR if we organize the hotel booking for the participant</li>
    <li>outward journey</li>
    <li>departure</li>
    <li>Requested rooms: SR / DR</li>
    <li>Desire for childcare</li>
    <li>Number of children</li>
    <li>Days on which the children receive care</li>
    </ul>

    <p>We use the above data to organise the participation of the person registering
    for the event and to carry out the event. The legal basis for the processing of
    this personal data is Art. 6 Para. 1 S. 1 lit. b DSGVO. We store this data for
    the above-mentioned purposes until the event is held.
    </p>

    <p>We then store the data for an additional period of three years. This storage is
    based on our legitimate interest in being able to defend ourselves against any
    legal claims that may arise from the event or to assert such claims. The legal
    basis for this is Art. 6 para. 1 lit. f DS-GMO.
    </p>

    <p>The data collected during registration will be processed internally by the
    department responsible for organising the event. In addition, the data can be
    passed on to external recipients. These include above all service providers who
    support us in the organisation and execution of the event. In addition to our
    general service providers listed below, we also use additional service providers
    for online voting in connection with the event and its organisation in addition
    to the general service providers listed below. Some events are supported by the
    Wikimedia Foundation. If this is the case, we transmit data for reporting
    purposes.
    </p>

    <p>If, at your request, we provide additional services for you, such as travel or
    hotel bookings or the organisation of child care, we transmit the data to the
    recipients required for the respective service provision. These can be in
    particular: Hotels, travel agencies, the Federal Foreign Office, other
    authorities of foreign countries for issuing visas. Depending on your place of
    residence and the event location, these recipients may also be located in third
    countries outside the EU or the EEA for which no adequacy resolution of the EU
    Commission exists. In such cases, however, we will only make transfers which are
    necessary either for the performance of the contract between you and us or for
    the conclusion or performance of a contract concluded in your interest between
    us and the recipient.
    </p>

    <p>Photos and videos are created at our events, which in certain cases we publish
    on our social media channels. However, this only takes place with your consent,
    which we will ask you for separately.
    </p>
     <h2 class="rt__h--gamma rt__h--beta">
      6. Analysis Tools and Advertising
    </h2> 
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
       Matomo (formerly Piwik)
    </h3>

    <p> 
    This website uses the open source web analysis service Matomo. Matomo uses "cookies." 
    These are text files that are stored on your computer and permit the analysis of your use of the website. 
    For this purpose, the information generated by the cookie about the use of this website is stored on our server.  
    The IP address is anonymised before it is stored. 
    <br>
    
    Matomo cookies remain on your device until you delete them.<br>
    
    Matomo cookies are stored according to Art. 6  para. 1 lit. f GDPR. The website 
    owner has a legitimate interest in the anonymous analysis of user behavior in order to optimize both its website and 
    its advertising.<br>
    
    The information generated by the cookie about your use of this website will not be disclosed to third parties. 
    You can choose not to use cookies by selecting the appropriate settings for your browser, 
    however please note that if you do this you may not be able to access the full functionality of this website.<br>
    
    If you do not agree to the storage and use of your data, you can deactivate its storage and use here. 
    In this case, an opt-out cookie is stored in your browser which prevents Matomo from saving usage data. If you delete your cookies, 
    the Matomo opt-out cookie will also be deleted. The opt-out must be reactivated the next time you visit our site.<br>
    
    <iframe fraomeborder="no" style="margin-top:2em" width="100%" height="100%"
        src="https://stats.wikimedia.de/index.php?module=CoreAdminHome&action=optOut&language=de">
    </iframe>
   
    </p>
    
    
     <h2 class="rt__h--gamma rt__h--beta">
      7. Plug-ins and Tools
    </h2> 
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
     Vimeo
    </h3>

    <p> Our website uses plug-ins for the video portal Vimeo.  
    The provider is Vimeo Inc. 555 West 18th Street, New York, New York 10011, USA.<br>
    
    If you visit one of our pages equipped with a Vimeo plug-in, a connection to the Vimeo servers will be established. 
    The Vimeo server is informed which of our pages you have visited. Vimeo also obtains your IP address. 
    This also applies even if you do not have a Vimeo account or are not logged in.  
    The information collected from Vimeo is transmitted to the Vimeo server in the US.<br>
    
    If you are logged into your Vimeo account, you allow Vimeo to assign your surfing habits directly to your personal profile. 
    You can prevent this by logging out of your Vimeo account. <br>
    
    For further information on the handling of user data, please refer to Vimeo's privacy policy at:<a href="https://vimeo.com/privacy">https://vimeo.com/privacy</a>.
    </p>

    <h3 class="rt__h--gamma rt__h--beta">
     YouTube
    </h3>

    <p>We use videos from YouTube and YouTube plug-ins on our website. YouTube is a
    service provided by YouTube LLC ("YouTube"), 901 Cherry Ave., San Bruno, CA
    94066, USA. YouTube LLC is a subsidiary of Google LLC ("Google"), 1600
    Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>

    <p>YouTube is integrated by embedding the service on our website using an
    "iFrame". When loading this iFrame, YouTube or Google may collect and process
    information (including personal data). It cannot be ruled out that YouTube or
    Google may also transfer the information to a server in a third country. Google
    and its subsidiaries are certified under the EU-US Privacy Shield to ensure an
    adequate level of protection during processing. For more information, please
    visit https://www.google.de/policies/privacy/frameworks/.</p>

    <p>We ourselves cannot influence which data YouTube actually collects and
    processes. However, YouTube states that the following information (including
    personal data) may in principle be processed: Protocol data (in particular the
    IP address), location-related information, unique application numbers. In
    addition, the plug-in can use cookies and similar technologies.</p>

    <p>If you are signed in to your Google Account, Google may add the processed
    information to your account and treat it as personal information, depending on
    your account settings, see in particular
    https://www.google.de/policies/privacy/partners. You can prevent this
    information from being added directly by logging out of your Google Account
    before you open a page, or by making the appropriate account settings in your
    Google Account.</p>

    <p>The integration of YouTube enables us to present you various videos on our
    website so that you can watch them directly on our website. The legal basis for
    the processing of personal data described here is Art. 6 para. 1 lit. f) DSGVO.
    Our legitimate interest in this lies in the great benefit that YouTube offers.
    By integrating external videos we relieve our servers and can use corresponding
    resources for other purposes. Among other things, this can increase the
    stability of our servers. YouTube or Google also has a legitimate interest in
    the (personal) data collected in order to improve its own services.</p>

    <p>For more information, please see YouTube's and Google's privacy policy, which
    you can access here: <a
    href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a></p>

    <p>To learn more about Google's privacy settings, visit <a
    href="https://privacy.google.com/take-control.html?categories_activeEl=sign-in">https://privacy.google.com/take-control.html?categories_activeEl=sign-in</a></p>

     <h2 class="rt__h--gamma rt__h--beta">
      8. Additional recipients
    </h2> 

    <p>Within Wikimedia, the departments responsible for processing your request
    have access to your data. In addition, we use external service providers where
    we are unable to perform services ourselves or where it makes no sense to do so.
    These external service providers are primarily providers of IT services and
    telecommunications services. As far as the legal requirements are met, we have
    concluded order processing contracts with these service providers.</p>


    <p>A transfer to third countries does not take place in principle. However, we
    use the G Suite service of Google LLC ("Google"), 1600 Amphitheatre Parkway,
    Mountain View, CA 94043, USA for our workflows. Google LLC is certified under
    the EU-US Privacy Shield to ensure an adequate level of privacy.</p>


    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
    Conclusion of a contract for order-data processing
    </h3>

    <p>We have concluded a contract with our service provider in 
    which we require them to protect our customers' data and not to pass it on to third parties.<br>
   
    </p>
    
    
    
    <h3 class="rt__h--gamma"><br></h3>
    <h3 class="rt__h--gamma">Office</h3>
    <p>
        Wikimedia Deutschland<br>Association for the promotion of Free Knowledge e. V.<br>PO Box 61 03 49<br>10925
        Berlin
    </p>
    <p>
        Phone: +49 (0) 30-219 15 826-0<br>Fax: +49 (0) 30-219 158 26-9<br>E-mail:
        <a href="mailto:info@wikimedia.de">info@wikimedia.de</a><br><br>
    </p>
{% endblock %}


