{% extends 'simple.page.html.twig' %}

{% set page_title = 'Impressum und Kontakt' %}

{% block pagebody %}
    <p>Dieses Impressum gilt für die Domains wikimedia.de und wikipedia.de. Bitte beachten Sie, dass Wikimedia
        Deutschland nicht der Diensteanbieter aller auf dieser Website genannten Wikimedia-Projekte ist.<br></p>

    <h3 class="rt__h--gamma rt__h--beta">Diensteanbieter</h3>

    <p>
        Wikimedia Deutschland – Gesellschaft zur Förderung Freien Wissens e. V.<br>
        Tempelhofer Ufer 23/24<br>
        10963 Berlin
    </p>

    <p>
        E-Mail: <a href="mailto:info@wikimedia.de">info@wikimedia.de</a><br>
        Telefon: +49 (0)30-219 15 826-0<br>
        Fax: +49 (0)30-219 158 26-9
    </p>

    <p>
        Geschäftsführender Vorstand: Abraham Taherivand<br>
        Eingetragen im Vereinsregister des Amtsgerichts Charlottenburg, VR 23855. Inhaltlich Verantwortlicher gemäß § 55
        Abs. 2 RStV: Abraham Taherivand (Anschrift wie oben).
    </p>

    <h3 class="rt__h--gamma rt__h--beta">
        1. Datenschutz auf einen Blick
    </h3>
    <h3 class="rt__h--gamma rt__h--beta">
       Allgemeine Hinweise
    </h3>
    
    <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, 
    wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. 
    Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.<br>
    </p>
     
    <h3 class="rt__h--gamma rt__h--beta">
        Datenerfassung auf unserer Website    
    </h3>
     <h3 class="rt__h--gamma rt__h--beta">
        Wer ist verantwortlich für die Datenerfassung auf dieser Website?   
    </h3>

    <p>
        <li>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. 
        Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.<br>
    </p>
    
      <h3 class="rt__h--gamma rt__h--beta">
       Wie erfassen wir Ihre Daten?
    </h3>

          <p>
        <li>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. 
        Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
        Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. 
        Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). 
        Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.<br>
    </p>

 <h3 class="rt__h--gamma rt__h--beta">
     Wofür nutzen wir Ihre Daten?
    </h3>      

        <p>
        <li>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. 
        Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.<br>
    </p>
    
     <h3 class="rt__h--gamma rt__h--beta">
         Welche Rechte haben Sie bezüglich Ihrer Daten?
    </h3>      

        <p>
        <li>Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. 
        Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. 
        Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.<br>
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta">
      Analyse-Tools und Tools von Drittanbietern
    </h3> 
    
       <p>
        <li>Beim Besuch unserer Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. 
        Das geschieht vor allem mit Cookies und mit sogenannten Analyseprogrammen. 
        Die Analyse Ihres Surf-Verhaltens erfolgt in der Regel anonym; das Surf-Verhalten kann nicht zu Ihnen zurückverfolgt werden. 
        Sie können dieser Analyse widersprechen oder sie durch die Nichtbenutzung bestimmter Tools verhindern. 
        Detaillierte Informationen dazu finden Sie in der folgenden Datenschutzerklärung.Sie können dieser Analyse widersprechen. 
        Über die Widerspruchsmöglichkeiten werden wir Sie in dieser Datenschutzerklärung informieren.
<br>
    </p>

 <h3 class="rt__h--gamma rt__h--beta">
      2. Allgemeine Hinweise und Pflichtinformationen
    </h3> 
    
     <h3 class="rt__h--gamma rt__h--beta">
      Datenschutz
    </h3>
    
    <p>
        <li>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. 
        Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
        Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
<br>
    </p>
    


    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Büro
    </h3>

    <p>
        Wikimedia Deutschland<br>
        Gesellschaft zur Förderung Freien Wissens e. V.<br>
        Postfach 61 03 49<br>
        10925 Berlin<br>
    </p>

    <p>
        Telefon: +49 (0)30-219 158 26-0<br>
        Fax: +49 (0)30-219 158 26-9<br>
        E-Mail: <a href="mailto:info@wikimedia.de">info@wikimedia.de</a>
    </p>
{% endblock %}


