{% extends 'simple.page.html.twig' %}

{% set page_title = 'Impressum und Kontakt' %}

{% block pagebody %}
    <p>Dieses Impressum gilt für die Domains wikimedia.de und wikipedia.de. Bitte beachten Sie, dass Wikimedia
        Deutschland nicht der Diensteanbieter aller auf dieser Website genannten Wikimedia-Projekte ist.<br></p>

    <h3 class="rt__h--gamma rt__h--beta">Diensteanbieter</h3>

    <p>
        Wikimedia Deutschland – Gesellschaft zur Förderung Freien Wissens e. V.<br>
        Tempelhofer Ufer 23/24<br>
        10963 Berlin
    </p>

    <p>
        E-Mail: <a href="mailto:info@wikimedia.de">info@wikimedia.de</a><br>
        Telefon: +49 (0)30-219 15 826-0<br>
        Fax: +49 (0)30-219 158 26-9
    </p>

    <p>
        Geschäftsführender Vorstand: Abraham Taherivand<br>
        Eingetragen im Vereinsregister des Amtsgerichts Charlottenburg, VR 23855. Inhaltlich Verantwortlicher gemäß § 55
        Abs. 2 RStV: Abraham Taherivand (Anschrift wie oben).
    </p>

    <h2 class="rt__h--gamma rt__h--beta">
        1. Datenschutz auf einen Blick
    </h2>
    <h3 class="rt__h--gamma rt__h--beta">
       Allgemeine Hinweise
    </h3>
    
    <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, 
    wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. 
    Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.<br>
    </p>
     
    <h3 class="rt__h--gamma rt__h--beta">
        Datenerfassung auf unserer Website    
    </h3>
     <h3 class="rt__h--gamma rt__h--beta">
        Wer ist verantwortlich für die Datenerfassung auf dieser Website?   
    </h3>

    <p> Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. 
        Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.<br>
    </p>
    
      <h3 class="rt__h--gamma rt__h--beta">
       Wie erfassen wir Ihre Daten?
    </h3>

          <p> Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. 
        Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.<br>
        Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. 
        Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). 
        Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.<br>
    </p>

 <h3 class="rt__h--gamma rt__h--beta">
     Wofür nutzen wir Ihre Daten?
    </h3>      

        <p>
        <li>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. 
        Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.<br>
    </p>
    
     <h3 class="rt__h--gamma rt__h--beta">
         Welche Rechte haben Sie bezüglich Ihrer Daten?
    </h3>      

        <p> Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. 
        Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. 
        Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. 
        Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.<br>
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta">
      Analyse-Tools und Tools von Drittanbietern
    </h3> 
    
       <p>Beim Besuch unserer Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. 
        Das geschieht vor allem mit Cookies und mit sogenannten Analyseprogrammen. 
        Die Analyse Ihres Surf-Verhaltens erfolgt in der Regel anonym; das Surf-Verhalten kann nicht zu Ihnen zurückverfolgt werden. 
        Sie können dieser Analyse widersprechen oder sie durch die Nichtbenutzung bestimmter Tools verhindern. 
        Detaillierte Informationen dazu finden Sie in der folgenden Datenschutzerklärung.Sie können dieser Analyse widersprechen. 
        Über die Widerspruchsmöglichkeiten werden wir Sie in dieser Datenschutzerklärung informieren.<br>
    </p>

 <h2 class="rt__h--gamma rt__h--beta">
      2. Allgemeine Hinweise und Pflichtinformationen
    </h2> 
    
     <h3 class="rt__h--gamma rt__h--beta">
      Datenschutz
    </h3>
    
    <p> Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. 
        Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
        <br>     
    </p>
    <p> Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. 
        Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
        <br>
    </p>
    <p> Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. 
        Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br>
    </p>
    
         <h3 class="rt__h--gamma rt__h--beta">
      Hinweis zum Verantwortlichen 
    </h3>
    
    <p> Der Verantwortliche für die Datenverarbeitung auf dieser Website ist:<br>
        Wikimedia Deutschland – Gesellschaft zur Förderung Freien Wissens e. V.<br>
        Tempelhofer Ufer 23-24<br>
        10963 Berlin<br>
    </p>
    <p> Telefon: +49(0)30-21915826-0<br>
        E-Mail: <a href="mailto:datenschutz@wikimedia.de">datenschutz@wikimedia.de</a><br>
    </p>

    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Widerruf Ihrer Einwilligung zur Datenverarbeitung
    </h3>

    <p> Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich.
      Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. 
      Dazu reicht eine formlose Mitteilung per E-Mail an uns. 
      Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.<br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Beschwerderecht bei der zuständigen Aufsichtsbehörde
    </h3>

    <p> Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. 
        Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, 
        in dem unser Unternehmen seinen Sitz hat. Eine Liste der Datenschutzbeauftragten 
        sowie deren Kontaktdaten können folgendem Link entnommen werden: 
        <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>
        <br>    
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Recht auf Datenübertragbarkeit
    </h3>

    <p> Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, 
       an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. 
       Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, 
       erfolgt dies nur, soweit es technisch machbar ist.<br>

    </p>
    
           <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        SSL- bzw. TLS-Verschlüsselung
    </h3>

    <p> Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, 
       wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, 
       eine SSL-bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, 
       dass die Adresszeile des Browsers von “http://” auf “https://” wechselt 
       und an dem Schloss-Symbol in Ihrer Browserzeile.<br>
       
       Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, 
       können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.<br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Verschlüsselter Zahlungsverkehr auf dieser Website
    </h3>

    <p> Besteht nach dem Abschluss eines kostenpflichtigen Vertrags eine Verpflichtung, 
        uns Ihre Zahlungsdaten (z.B. Kontonummer bei Einzugsermächtigung) zu übermitteln, 
        werden diese Daten zur Zahlungsabwicklung benötigt.
        Der Zahlungsverkehr über die gängigen Zahlungsmittel (Visa/MasterCard, Lastschriftverfahren) 
        erfolgt ausschließlich über eine verschlüsselte SSL- bzw. TLS-Verbindung. 
        Eine verschlüsselte Verbindung erkennen Sie daran, 
        dass die Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
        <br>
   </p>
   <p>  Bei verschlüsselter Kommunikation können Ihre Zahlungsdaten, die Sie an uns übermitteln, 
        nicht von Dritten mitgelesen werden.<br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Auskunft, Einschränkung der Verarbeitung, Löschung
    </h3>

    <p> Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf 
        unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, 
        deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. 
        ein Recht auf Berichtigung, Einschränkung der Verarbeitung oder Löschung dieser Daten. 
        Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit 
        unter der im Impressum angegebenen Adresse an uns wenden.
        <br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Automatisierte Entscheidungsfindung
    </h3>

    <p> Wir verwenden keine automatisierte Entscheidungsfindung einschließlich Profiling gemäß Artikel 22 Abs. 1 und 4 DS-GVO.
        <br>

    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Pflicht zur Bereitstellung von Daten
    </h3>

    <p> Sie sind in keinem Fall gesetzlich oder vertraglich dazu verpflichtet, 
       uns personenbezogene Daten bereitzustellen. Ohne die Bereitstellung im Rahmen der unten angegebenen Dienstleistungen, 
       können wir Ihnen die dort beschriebenen Funktionen aber nicht zur Verfügung stellen. <br>
       
    </p>
    
    <h2 class="rt__h--gamma rt__h--beta">
      3. Datenschutzbeauftragter
    </h2>
    
     <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Gesetzlich vorgeschriebener Datenschutzbeauftragter
    </h3>

    <p> Wir haben für unser Unternehmen einen Datenschutzbeauftragten bestellt.<br>
     Thorsten Feldmann, LL.M. <br>
     JBB Rechtsanwälte Jaschinski Biere Brexl Partnerschaft mbB <br>
     Christinenstr. 18/19 <br>
     10119 Berlin <br>
    
    </p>
    
    <p> Telefon: +49 30 443 765 0 <br>
     E-Mail: <a href="mailto:datenschutz@wikimedia.de">datenschutz@wikimedia.de</a> <br>
       
    </p>
    
     <h2 class="rt__h--gamma rt__h--beta">
      4. Datenerfassung auf unserer Website
    </h2>
    
     <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Cookies
    </h3>

    <p>Die Internetseiten verwenden teilweise so genannte Cookies. 
    Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. 
    Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. 
    Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.<br>
    
    </p>
    
    <p>Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. 
    Sie werden nach Ende Ihres Besuchs automatisch gelöscht. 
    Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese löschen. 
    Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.<br>
    
    </p>
    
    </p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. 
    Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.<br>
    
    </p>
    
    </p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. 
    Soweit andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.<br>
  
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Server-Log-Dateien
    </h3>

    <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, 
    die Ihr Browser automatisch an uns übermittelt. Dies sind:<br>
    <ul>
        <li>Browsertyp und Browserversion</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Hostname des zugreifenden Rechners</li>
        <li>Uhrzeit der Serveranfrage</li>
        <li>IP-Adresse></li>
    </ul>
    Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.<br>
    
    </p>
    
    <p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet. Eine Speicherung erfolgt nur für den Zeitraum von 24 Stunden. 
    Anschließend erfolgt eine automatische Löschung aller von unseren Systemen erstellten Log-Files.<br>
   
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Registrierung auf dieser Website
    </h3>

    <p> Sie können sich auf unserer Website registrieren, um zusätzliche Funktionen auf der Seite zu nutzen. 
    Die dazu eingegebenen Daten verwenden wir nur zum Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes, 
    für den Sie sich registriert haben. Die bei der Registrierung abgefragten Pflichtangaben müssen vollständig angegeben werden. 
    Anderenfalls werden wir die Registrierung ablehnen.<br>
  
   </p>
  
    <p>Für wichtige Änderungen etwa beim Angebotsumfang oder bei technisch notwendigen Änderungen
    nutzen wir die bei der Registrierung angegebene E-Mail-Adresse,
    um Sie auf diesem Wege zu informieren. Die Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit. b DSGVO.<br>
    
    </p>
    
    <p>Dazu reicht eine formlose Mitteilung per E-Mail an uns. 
    Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.<br>
    
    </p>
    
    <p>Die bei der Registrierung erfassten Daten werden von uns gespeichert, 
    solange Sie auf unserer Website registriert sind und werden anschließend gelöscht. 
    Gesetzliche Aufbewahrungsfristen bleiben unberührt.<br>
   
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Kommentarfunktion auf dieser Website
    </h3>

    <p> Für die Kommentarfunktion auf dieser Seite werden neben Ihrem Kommentar auch Angaben zum Zeitpunkt der Erstellung des Kommentars, 
    Ihre E-Mail-Adresse und, wenn Sie nicht anonym posten, der von Ihnen gewählte Nutzername gespeichert.
    <br>
   
    </p>
    
    <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Speicherung der IP-Adresse
    </h4>

    <p> 
    Unsere Kommentarfunktion speichert die IP-Adressen der Nutzer, die Kommentare verfassen. Da wir Kommentare auf unserer Seite nicht vor der Freischaltung prüfen, benötigen wir diese Daten, 
    um im Falle von Rechtsverletzungen wie Beleidigungen oder Propaganda gegen den Verfasser vorgehen zu können.
    <br>
   
    </p>
    
    <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Abonnieren von Kommentaren
    </h4>

    <p> 
    Als Nutzer der Seite können Sie nach einer Anmeldung Kommentare abonnieren. 
    Sie erhalten eine Bestätigungsemail, um zu prüfen, ob Sie der Inhaber der angegebenen E-Mail-Adresse sind.
    Sie können diese Funktion jederzeit über einen Link in den Info-Mails abbestellen. 
    Die im Rahmen des Abonnierens von Kommentaren eingegebenen Daten werden in diesem Fall gelöscht; 
    wenn Sie diese Daten für andere Zwecke und an anderer Stelle (z.B. Newsletterbestellung) an uns übermittelt haben, verbleiben die jedoch bei uns.
    <br>
   
    </p>
    
    <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Speicherdauer der Kommentare
    </h4>

    <p> 
    Die Kommentare und die damit verbundenen Daten (z.B. IP-Adresse) werden gespeichert und verbleiben auf unserer Website, 
    bis der kommentierte Inhalt vollständig gelöscht wurde oder die Kommentare aus rechtlichen Gründen gelöscht werden müssen (z.B. beleidigende Kommentare).
    <br>
   
    </p>
    
     <h4 class="rt__h--gamma rt__h--beta"><br></h4>
    <h4 class="rt__h--gamma rt__h--beta">
        Rechtsgrundlage
    </h4>

    <p> 
    Die Speicherung der Kommentare erfolgt auf Grundlage des berechtigten Interesses (Art. 6 Abs. 1 lit. b DSGVO).
    Unser berechtigtes Interesse liegt im oben genannten Zweck.
    <br>
   
    </p>
    
    <h2 class="rt__h--gamma rt__h--beta">
        5. Anmeldung zur Veranstaltung
    </h2> 
    <p>
    In gewissen Fällen ermöglichen wir eine Online-Anmeldung Veranstaltungen,
    die von uns organisiert werden. Für eine erfolgreiche Anmeldung
    sind nur die Pflichtangaben erforderlich.
    Alle anderen Angaben sind freiwillige Angaben.
    </p>
    

    <p>Pflichtangaben zur Anmeldung sind:</p>
    <ul>
    <li>E-Mail Adresse</li>
    <li>Name und Vorname</li>
    <li>Rolle bei der Veranstaltung (Teilnehmer*in, Referent*in, Helfer*in, Vertreter*in eines Wikimedia-Chapters )</li>
    <li>Essen: Vegetarier, Veganer, Allergien</li>
    <li>Wurde bzw. wird eine Förderung für die Reise beantragt</li>
    <li>Wurde bzw. wird eine Förderung für die Unterkunft beantragt</li>
    <li>Information auf dem Namensschild</li>
    <li>Volljährig </li>
    </ul>

    <p>Freiwillige Angaben sind:</p>
    <ul>
    <li>Evtl. Name des gewünschten Zimmerpartners</li>
    <li>Chapter über welches die Förderung erfolgen wird</li>
    <li>Benutzername (wenn schon auf einem Wikimedia-Projekt aktiv)</li>
    <li>Vorname + Nachname --> nur wenn kein Benutzername vorliegt <br />
    ODER wenn wir die Hotelbuchung für den Teilnehmer organisieren</li>
    <li>Anreise</li>
    <li>Abreise</li>
    <li>Zimmerwunsch: EZ / DZ</li>
    <li>Wunsch nach Kinderbetreuung</li>
    <li>Anzahl der Kinder</li>
    <li>Tage an welchen die Kinder eine Betreuung erhalten</li>
    </ul>
    
    <p>Wir verwenden die genannten Daten, um die Teilnahme der sich anmeldenden Person
    an der Veranstaltung zu organisieren und die Veranstaltung durchzuführen.
    Dazu gehört es auch, dass wir den Teilnehmer bzw. die Teilnehmerin kontaktieren,
    soweit dies im Rahmen der Organisation erforderlich ist.Rechtsgrundlage für
    die Verarbeitung dieser personenbezogenen Daten ist Art. 6 Abs. 1 S. 1 lit. b DSGVO.
    Wir speichern diese Daten für die oben genannten Zwecke grundsätzlich
    bis zur Durchführung der Veranstaltung.
    </p>

    <p>Anschließend speichern wir die Daten für einen zusätzlichen Zeitraum von drei Jahren.
    Diese Speicherung erfolgt aufgrund unseres berechtigten Interesses daran,
    uns gegen etwaige Rechtsansprüche, die sich aus der Veranstaltung ergeben können,
    zu wehren, bzw. solche Ansprüche geltend machen zu können.
    Die Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit. f DS-GVO.
    </p>

    <p>Die im Rahmen der Anmeldung erhobenen Daten werden intern von der bei uns
    für die Organisation der Veranstaltung zuständigen Abteilung verarbeitet.
    Zudem können die Daten an externe Empfänger weitergegeben werden.
    Hierzu gehören vor allem Dienstleister, die uns bei der Organisation
    und Durchführung der Veranstaltung unterstützen.
    Neben unseren allgemein eingesetzten und unten genannten Dienstleistern
    verwenden wir neben den unten genannten allgemeinen Dienstleistern noch
    zusätzlich Dienstleister für Onlinewahlen im Zusammenhang mit der
    Veranstaltung und der Veranstaltungsorganisation. Einige Veranstaltungen
    werden von der Wikimedia Foundation unterstützt.
    Ist dies der Fall übermitteln wir Daten für Zwecke des Reportings.
    </p>

    <p>Wenn wir auf Ihren Wunsch hin zusätzliche Leistungen für Sie erbringen,
    wie zum Beispiel die Reise- oder Hotelbuchung oder die Organisation einer
    Kinderbetreuung, übermitteln wir die Daten an die für die jeweilige
    Leistungserbringung erforderlichen Empfänger. Dies können insbesondere sein:
    Hotels, Reisebüro, Auswärtigem Amt, andere Behörden ausländischer Staaten
    zur Erteilung eines Visums. Diese Empfänger können sich, je nach Ihrem
    Wohn- und dem Veranstaltungsort, auch in Drittstaaten außerhalb der EU
    bzw. des EWR befinden, für die kein Angemessenheitsbeschlusses der
    EU-Kommission existiert. Wir nehmen in diesen Fällen aber ausschließlich
    Übermittlungen vor, die entweder für die Erfüllung des Vertrags zwischen
    Ihnen und uns oder aber für den Abschluss oder zur Erfüllung eines in Ihrem
    Interesse geschlossenen Vertrags zwischen uns und dem Empfänger erforderlich.
    </p>

    <p>Auf unseren Veranstaltungen werden Fotos und Videos erstellt,
    welche wir in gewissen Fällen auf unseren Socialmedia Kanälen
    veröffentlichen. Dies erfolgt aber nur mit Ihrer Einwilligung, um die wir
    Sie gesondert bitten werden.
    </p>



    <h2 class="rt__h--gamma rt__h--beta">
      6. Analyse Tools und Werbung
    </h2> 
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
       Matomo (ehemals Piwik)
    </h3>

    <p> 
    Diese Website benutzt den Open Source Webanalysedienst Matomo. Matomo verwendet so genannte "Cookies". 
    Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung 
    der Website durch Sie ermöglichen. Dazu werden die durch den Cookie erzeugten Informationen 
    über die Benutzung dieser Website auf unserem Server gespeichert. 
    Die IP-Adresse wird vor der Speicherung anonymisiert.
    <br>
    
    </p>
    
    Matomo-Cookies verbleiben auf Ihrem Endgerät, bis Sie sie löschen.<br>
    
    <p>Die Speicherung von Matomo-Cookies erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. 
    Der Websitebetreiber hat ein berechtigtes Interesse an der anonymisierten Analyse des Nutzerverhaltens, 
    um sowohl sein Webangebot als auch seine Werbung zu optimieren.<br>
    
    </p>
    
    <p>Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte weitergegeben. 
    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; 
    wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.<br>
    
    </p>
    
    <p>Wenn Sie mit der Speicherung und Nutzung Ihrer Daten nicht einverstanden sind, 
    können Sie die Speicherung und Nutzung hier deaktivieren. 
    In diesem Fall wird in Ihrem Browser ein Opt-Out-Cookie hinterlegt, der verhindert, 
    dass Matomo Nutzungsdaten speichert. Wenn Sie Ihre Cookies löschen, hat dies zur Folge, 
    dass auch das Matomo Opt-Out-Cookie gelöscht wird. Das Opt-Out muss bei einem erneuten Besuch unserer Seite wieder aktiviert werden.<br>
    
    <p>
    <iframe fraomeborder="no" style="margin-top:2em" width="100%" height="100%"
        src="https://stats.wikimedia.de/index.php?module=CoreAdminHome&action=optOut&language=de">
    </iframe>
   
    </p>
    
    
    <h2 class="rt__h--gamma rt__h--beta">
      7. Plugins und Tools
    </h2> 
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
     Vimeo
    </h3>

    <p> Unsere Website nutzt Plugins des Videoportals Vimeo. 
    Anbieter ist die Vimeo Inc., 555 West 18th Street, New York, New York 10011, USA. <br>
    
    </p>
    
    <p>Wenn Sie eine unserer mit einem Vimeo-Plugin ausgestatteten Seiten besuchen, wird eine Verbindung zu den Servern von Vimeo hergestellt. Dabei wird dem Vimeo-Server mitgeteilt, welche unserer Seiten Sie besucht haben. 
    Zudem erlangt Vimeo Ihre IP-Adresse. Dies gilt auch dann, wenn Sie nicht bei Vimeo eingeloggt sind oder keinen Account bei Vimeo besitzen. 
    Die von Vimeo erfassten Informationen werden an den Vimeo-Server in den USA übermittelt.<br>
    
    </p>
    
    <p>Wenn Sie in Ihrem Vimeo-Account eingeloggt sind, ermöglichen Sie Vimeo, Ihr Surfverhalten direkt Ihrem persönlichen Profil zuzuordnen. 
    Dies können Sie verhindern, indem Sie sich aus Ihrem Vimeo-Account ausloggen.<br>
    
    </p>
    
    <p> Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Vimeo unter:<a href="https://vimeo.com/privacy">https://vimeo.com/privacy</a>.
    
   
    </p>
    
    <h3 class="rt__h--gamma rt__h--beta">
    Youtube
    </h3>
    <p>Wir nutzen auf unserer Webseite Videos von YouTube und YouTube Plug-Ins.
        YouTube ist ein Dienst der YouTube LLC („YouTube“), 901 Cherry Ave., San Bruno, CA 94066, USA
        und wird von dieser bereitgestellt. Die YouTube LLC ist eine
        Tochtergesellschaft der Google LLC („Google“), 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
    </p>

    <p>Die Einbindung von YouTube erfolgt durch das Einbetten des Service auf
        unserer Webseite mittels eines sog. „iFrames“. Beim Laden dieses iFrames
        erheben YouTube bzw. Google unter Umständen Informationen (auch
        personenbezogene Daten) und verarbeiten diese. Dabei kann nicht
        ausgeschlossen werden, dass YouTube bzw. Google die Informationen auch an
        einen Server in einem Drittland übermittelt. Google und seine
        Tochtergesellschaften sind dabei unter dem EU-US-Privacy Shield
        zertifiziert, so dass ein angemessenes Schutzniveau bei der Verarbeitung
        sichergestellt ist. Weitere Informationen dazu finden Sie unter
        <a href="https://www.google.de/policies/privacy/frameworks/">https://www.google.de/policies/privacy/frameworks/</a>.
    </p>

    <p>Wir selbst können nicht beeinflussen, welche Daten YouTube tatsächlich
        erhebt und verarbeitet. YouTube gibt jedoch an, dass grundsätzlich unter
        anderen folgende Informationen (auch personenbezogene Daten) verarbeitet
        werden können: Protokolldaten (insbesondere die IP-Adresse),
        Standortbezogene Informationen, Eindeutige Applikationsnummern. Zudem kann
        das Plug-In Cookies und ähnliche Technologien nutzen.
    </p>

    <p>Wenn Sie in Ihrem Google-Konto angemeldet sind, kann Google die
        verarbeiteten Informationen abhängig von Ihren Kontoeinstellungen
        Ihrem Konto hinzufügen und als personenbezogene Daten behandeln,
        vgl. hierzu insbesondere <a href="https://www.google.de/policies/privacy/partners">https://www.google.de/policies/privacy/partners</a>.
        Ein direktes Hinzufügen dieser Daten können Sie verhindern, indem Sie sich
        bevor Sie eine entsprechende Seite öffnen, aus Ihrem Google-Konto ausloggen
        oder auch die entsprechenden Kontoeinstellungen in Ihrem Google-Konto vornehmen.
    </p>

    <p>Durch die Einbindung von YouTube verfolgen wir den Zweck, Ihnen
        verschiedene Videos auf unserer Webseite präsentieren zu können, damit Sie
        diese unmittelbar auf unserer Webseite anschauen können. Rechtsgrundlage
        für die hier beschriebene Verarbeitung personenbezogener Daten ist Art. 6 Abs. 1 lit. f) DSGVO.
        Unser hierfür erforderliches berechtigtes Interesse liegt dabei in dem großen Nutzen, den YouTube bietet.
        Durch die Einbindung von externen Videos entlasten wir unsere Server und
        können entsprechende Ressourcen anderweitig nutzen. Dies kann u.a. Stabilität
        unserer Server erhöhen. YouTube bzw. Google hat darüber hinaus ein berechtigtes
        Interesse an den erhobenen (personenbezogenen) Daten um die eigenen Dienste
        zu verbessern.
    </p>

    <p>Nähere Informationen finden Sie in den Datenschutzhinweisen von YouTube
    bzw. Google, die Sie hier abrufen können: www.google.com/policies/privacy/</p>
    <p>Hinweise zu den Privatsphäreeinstellungen von Google finden Sie unter
    <a href="https://privacy.google.com/take-control.html?categories_activeEl=sign-in">https://privacy.google.com/take-control.html?categories_activeEl=sign-in</a></p>


    <h2 class="rt__h--gamma rt__h--beta">
    8. Sonstige Empfänger
    </h2>
    <p>Innerhalb von Wikimedia haben jeweils die Abteilungen auf Ihre Daten
        Zugriff, die für die Bearbeitung der Anliegen zuständig sind. Zudem setzen
        wir externe Dienstleister ein, soweit wir Leistungen nicht oder nicht
        sinnvoll selbst vornehmen können. Diese externen Dienstleister sind dabei
        vor allem Anbieter von IT-Dienstleistungen und Telekommunikationsdienste.
        Soweit die gesetzlichen Voraussetzungen vorliegen, haben wir mit diesen
        Dienstleistern Auftragsverarbeitungsverträge geschlossen.
    </p>

    <p>Eine Übermittlung in Drittstaaten findet grundsätzlich nicht statt. Wir
        nutzen allerdings den Dienst G Suite der Google LLC („Google“), 1600
        Amphitheatre Parkway, Mountain View, CA 94043, USA für unsere Arbeitsabläufe.
        Google LLC ist unter dem EU-US-Privacy Shield zertifiziert, so dass ein
        angemessenes Datenschutzniveau sichergestellt ist.
    </p>


    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
    Abschluss eines Vertrags über Auftragsdatenverarbeitung
    </h3>

    <p> Wir haben mit unserem Dienstleister einen Vertrag abgeschlossen, 
    in dem wir diesen verpflichten, die Daten unserer Kunden zu schützen und sie nicht an Dritte weiterzugeben.<br>
   
    </p>
    
    
    <h3 class="rt__h--gamma rt__h--beta"><br></h3>
    <h3 class="rt__h--gamma rt__h--beta">
        Büro
    </h3>

    <p>
        Wikimedia Deutschland<br>
        Gesellschaft zur Förderung Freien Wissens e. V.<br>
        Postfach 61 03 49<br>
        10925 Berlin<br>
        Verantwortlicher ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen 
        über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.) entscheidet.<br>

    </p>

    <p>
        Telefon: +49 (0)30-219 158 26-0<br>
        Fax: +49 (0)30-219 158 26-9<br>
        E-Mail: <a href="mailto:info@wikimedia.de">info@wikimedia.de</a>
    </p>
{% endblock %}


